<h1>reQUEST API Tester</h1>

{{input placeholder='Enter request URL' value=inputValue}}

<select onchange={{action 'changeRequestType' value='target.value'}} name="requestType" id="">
  <option value="GET">GET</option>
  <option value="POST">POST</option>
  <option value="PUT">PUT</option>
  <option value="DELETE">DELETE</option>
</select>

<button {{action 'handleRequest'}} type="submit">Send</button>

<button {{action 'handleFormatChange' 'pretty'}}>Pretty</button>
<button {{action 'handleFormatChange' 'raw'}}>Raw</button>

<div id='request-output'>
  <pre>{{outputComputed}}</pre>
</div>
